networks:
  x1-simulator:
    ipam:
      driver: default
      config:
        - subnet: "{{ ip_base }}/16"

services:
  node1:
    image: ghcr.io/faircrypto/go-x1:latest
    build:
        context: ../..
        dockerfile: ./docker/Dockerfile.x1
    command: "{{ flags }} --fakenet 1/{{ num_nodes }} --maxpeers {{ num_nodes }} --nat 'extip:{{ nodes[0].ip }}' --nodekeyhex {{ bootnode_key }}"
    ports:
      - "{{ nodes[0].p2p_port }}:5050"
      - "{{ nodes[0].p2p_port }}:5050/udp"
      - "{{ nodes[0].metrics_port }}:6060"
      - "{{ rpc_port }}:8545"
      - "{{ ws_port }}:8546"
    networks:
      x1-simulator:
        ipv4_address: {{ nodes[0].ip }}
    restart: always
    healthcheck:
      test: ["CMD", "uptime"]
      interval: 1s
      timeout: 1s
      retries: 30

{% for id in range(2, num_nodes + 1) %}
  node{{ id }}:
    image: ghcr.io/faircrypto/go-x1:latest
    command: "{{ flags }} --fakenet {{ id }}/{{ num_nodes }} --maxpeers {{ num_nodes }} --bootnodes 'enode://{{ bootnode_pub_key }}@{{ nodes[0].ip }}:5050'"
    ports:
      - "{{ nodes[id - 1].p2p_port }}:5050"
      - "{{ nodes[id - 1].p2p_port }}:5050/udp"
      - "{{ nodes[id - 1].metrics_port }}:6060"
      - "{{ nodes[id - 1].rpc_port }}:8545"
      - "{{ nodes[id - 1].ws_port }}:8546"
    networks:
      x1-simulator:
        ipv4_address: {{ nodes[id - 1].ip }}
    depends_on:
      node{{ id - 1 }}:
        condition: service_healthy
    restart: always
    healthcheck:
        test: ["CMD", "uptime"]
        interval: 3s
        timeout: 3s
        retries: 60
{% endfor %}

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - {{ prometheus_port }}:9090
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus
      - prom_data:/prometheus
    networks:
      x1-simulator:
        ipv4_address: {{ prometheus_ip }}

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - {{ grafana_port }}:3000
    restart: unless-stopped
    environment:
      GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION: "true"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
      GF_AUTH_DISABLE_SIGNOUT_MENU: "true"
      GF_AUTH_DISABLE_LOGIN_FORM: "true"
      GF_LOG_LEVEL: error
      GF_ORG_NAME: "X1"
      GF_ORG_ROLE: "Admin"
      GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: "/var/lib/grafana/dashboards/home.json"
    volumes:
      - ./grafana/etc/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/etc/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - grafana_data:/var/lib/grafana
      - ./grafana/var/lib/grafana/dashboards:/var/lib/grafana/dashboards

    networks:
      x1-simulator:
        ipv4_address: {{ grafana_ip }}

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      x1-simulator:
        ipv4_address: {{ node_exporter_ip }}


volumes:
  prom_data:
  grafana_data:
